<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>아이디</th>
        <th>도시</th>
        <th>병원명</th>
        <th>메디컬</th>
        <th>방</th>
        <th>전화번호</th>
        <th>주소</th>
      </tr>
    </thead>
    <tbody>
    {% for c in list %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{c.sido}}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.medical }}</td>
        <td>{{c.room}</td>
        <td>{{ c.tel }}</td>
        <td>{{ c.address }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
